*{
    font-family: roboto, sans-serif;
    text-align: center;
}

body{
    background-color: #E9ECEF;  
}

.instr{
    margin-top: 5px;
}

li{

    font-weight: bold;
    list-style-position: inside;
}

